.App {
    text-align: center;
}

.image-skeleton {
    width: 100%;
    padding-top: 75%;
    /* 調整圖片的高度，使其呈現出正確的比例 */
    position: relative;
    /* 避免下方的 Skeleton 與之重疊 */
}

.text-skeleton {
    padding-top: 1%;
    /* 調整圖片的高度，使其呈現出正確的比例 */
}

.css-i1agjc {
    /* position: relative; */
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    display: -ms-flexbox;
    /* display: flex; */
    /* -webkit-align-items: center; */
    /* -webkit-box-align: center; */
    -ms-flex-align: center;
    /* align-items: center; */
    /* padding-left: 16px; */
    /* padding-right: 16px; */
    /* min-height: 48px; */
    /* -webkit-box-pack: justify; */
    /* -webkit-justify-content: space-between; */
    justify-content: space-between;
    /* overflow-x: auto; */
}

@media (min-width: 600px) {
    .css-i1agjc {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}